* {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    background-color: #3d3d3d;
    color: #dcdcdc;
    font-size: 1.5rem;
    padding: 0.8rem;
}

a {
    text-decoration: none;
    color: #dcdcdc;;
}

nav {
    background-color: #3d3d3d;
    width: 20%;
    padding: 30px;
    color: #e3e3dd;
}

nav h2 {
    margin: 0 0 10px;
    padding: 0 5px;
    position: relative;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

nav li {
    margin: 12px 0 0 0px;
}

nav a {
    text-decoration: none;
    display: block;
    font-size: 18px;
    padding: 5px;
    position: relative;
    transition: .3s linear;
}

nav a:after {
    content: "\f18e";
    font-family: FontAwesome;
    position: absolute;
    right: 5px;
    color: white;
    transition: .2s linear;
}

nav a:hover {
    background: #80C8A0;
    color: white;
}

.products {
    display: flex;
}

/*настроить флекс*/
table.product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background: #dcdcdc;
    width: 300px;
}

table.product th {
    background: #3d3d3d;
    color: #F5F5F5;
    height: 80px;
}

table.product td {
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.product tr {
    border: red 3px solid;
}

tr.image img {
    padding: 10px 0;
    width: 250px;
    height: 200px;
}

.readMore a {
    color: #3d3d3d;
}

.readMore button {
    background-color: #c8c8c8;
    padding: 10px;
    margin: 10px 0;

}

.price {
    color: #2a7bc8;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #3d3d3d;
    color: #dcdcdc;
    font-size: 1.2rem;
    height: 4vh;
    line-height: 4vh;
}